.results-holder {
	background-color: white;
	border-radius: 0.2em;
	margin-top: 0.5em;
}

.match-holder {
	border-bottom: 1px solid #ccc;
	padding: 2.5%;
}

	.match-holder .team-line:first-child {
		border-left: 3px solid green;
	}

	.match-holder .team-line:first-child span {
		font-weight: 700;
	}

.team-line {
	border-radius: 0.2em;
	border-left: 3px solid red;
	font-size: 0.75em;
	line-height: 2em;
	margin: 0.5em 0;
	padding: 0.1em 0 0.1em 0.5em;
}