.results-holder {
	background-color: white;
	border-radius: 0.2em;
	margin-top: 0.5em;
}

.match-holder {
	border-bottom: 1px solid #ccc;
	padding: 2.5%;
}

.team-line {
	font-size: 0.75em;
	line-height: 2em;
}