.results-holder {
	background-color: white;
	border-radius: 0.2em;
	margin-top: 0.5em;
}

.match-holder {
	border-bottom: 1px solid #ccc;
	padding: 2.5%;
	font-size: 0.75em;

	.start-time {
		color: #777;
	}

	.team-line {
		border-radius: .2em;
		border-left: 3px solid red;
		margin: .5em 0;
		padding: .1em 0 .1em .5em;
	}

	.team-line.victor {
		border-left: 3px solid green;

		span {
			font-weight: 700;
		}
	}
}