h4 {
	margin: 0;
}

.tournament-card {
	flex: 1;
	padding: 0 0.5em 0.5em 0.5em;
}

.tournament-header {
	background-color: white;
	border-top: 4px solid green;
	border-radius: 0.2em;
}

.header-holder {
	width: 95%;
	margin: 0 auto;
	padding: 1em 0;
}

.start-date {
	font-size: 0.8em;
}

@media only screen and (max-width: 1300px) {
	.tournament-card {
		width: 25em;
		display: inline-block;
	}

	h4 {
		font-size: 0.8em;
	}

	.start-date {
		font-size: 0.7em;
	}
}

@media only screen and (max-width: 900px) {
	.tournament-card {
		width: 100%;
		padding: 0 0 0.5em 0;
		display: block;
	}

	h4 {
		font-size: 0.8em;
	}

	.start-date {
		font-size: 0.7em;
	}
}