@import 'components/Header/Header';
@import 'components/Tournament/Tournament';
@import 'components/Matches/Matches';

html, body {
	background-color: #ccc;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

.app {
	margin: 0 auto;
}

.tournaments-holder {
	display: flex;
	margin: 2.5em auto;
	width: 80em;
}

@media only screen and (max-width: 1300px) {
	.tournaments-holder {
		width: 52em;
		display: block;
	}
}

@media only screen and (max-width: 900px) {
	.tournaments-holder {
		width: 90%;
		max-width: 25em;
		display: block;
	}
}
